.container{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    height:100vh;
    gap:5px;
    grid-template-areas:
    "a a "
    "b c"
    "d d "
    "e f "
    

}
.item{
    padding:10px;
    font-size:2rem;
    text-align:center;
}
.item img{
    object-fit: cover;
    width:100%;
    height:100%;
}
.item-1{
    background-color: rgb(11, 11, 11);
    grid-area:a;
}
.item-2{
    background-color: rgb(11, 11, 11);
    grid-area:b;
}
.item-3{
    background-color: rgb(19, 16, 16);
    grid-area:c;
}
.item-4{
    background-color: rgb(10, 10, 9);
    grid-area:d;
}
.item-5{
    background-color: rgb(8, 8, 7);
    grid-area:e;
}
.item-6{
    background-color: rgb(13, 14, 13);
    grid-area:f;
}
