.container{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    height:100vh;
    gap:5px;
    background-color: black;
    grid-template-areas:
    "a a a b b"
    "a a a c c"
    "d d d d d"
    "e f g h i"

}
.item{
    padding:10px;
    font-size:2rem;
    text-align:center;
}
.item img{
    object-fit: cover;
    width:100%;
    height:100%;

}
.item-1{
    /* background-color: rgb(16, 129, 227); */
    grid-area:a;
}
.item-2{
    /* background-color: rgb(160, 223, 24); */
    grid-area:b;
}
.item-3{
    /* background-color: rgb(229, 159, 8); */
    grid-area:c;
}
.item-4{
    /* background-color: rgb(149, 150, 155); */
    grid-area:d;
}
.item-5{
    /* background-color: rgb(156, 196, 135); */
    grid-area:e;
}
.item-6{
    /* background-color: rgb(227, 11, 199); */
    grid-area:f;
}
.item-7{
    /* background-color: rgb(31, 234, 230); */
    grid-area:g;
}
.item-8{
    /* background-color: rgb(61, 246, 9); */
    grid-area:h;
}
.item-9{
    /* background-color: rgb(249, 214, 154); */
    grid-area:i;
}