.nav-container{
    background-color:black;
    padding:15px;
    flex-direction:column;
    display:flex;
    align-items:center;
    gap:40px;
    height:500px;
    color:white;
    width:50%;
}
.bi{
    font-size:xx-large;
    color:white;
    align-items: center;
}