/* a:link{
    color:lightgreen
}
a:active{
    color:yellow;
}
a:visited{
 color:red;
}
a:hover{
    color:blue;

}
div>p:nth-child(even){
    background-color:red;
    color:purple;

}
div>p:last-child{
    background-color:red;

}
.container{
    border:2px black solid 
    width: fit-content;
    padding:5px;
    gap:5px;
    background-color: blue;
    position:relative;
    top:300 px;
    transition

}


p::before{
    content:"note";
    color:blue;
    font-style:italic;
}
p::after{
    content:"note this";
    color:red;
    font-style:italic;

}
p::before{
    content:"emoji"
    font-size : xx-large; */

.container{
    border: 2px solid black;
    width:100%;
    text-align: start;
}
.one,.two,.three{
gap:10px;
width:100%;
height:30px;
background-color:grey;
margin: 30px;
}



.one>.par{
width:25%;
height:30px;
/* border:2px black solid; */
background-color:aquamarine;
text-align: center;;
}
.two>.par{
width:50%;
height:30px;
/* border:2px black solid; */
background-color:yellow;
}
.three>.par{
width:75%;
height:30px;
/* border:2px black solid; */
background-color:red;
text-align: center;
}

