.main-container{
        width: 80%;
        height: 500px;
      margin: 20px auto;
      padding: 20px;
      border: 2px solid #333;
      border-radius: 10px;
   
 
}
.first-image-container,second-image-container{
    display: flex;
      justify-content: space-around;
      padding: 15px;
      border: 2px solid #666;
      margin-bottom: 20px;
      border-radius: 8px;
}
