*{
    padding:0px;
    margin-left:30px;
    margin-right:30px;
    box-sizing:border-box;
    font-family: "Roboto", sans-serif;
    flex-wrap: wrap;
  
}


html,body{
    height:100%;
  


}
.container{
  display: flex;
   gap: 10px;
  justify-content: space-between;
  padding:10px;
  font-size: 1rem;
  top:0px;
  position:relative;
  z-index:+1;
  margin-bottom:50px;
  background-color: white;

}
.nav-bar1{
    display:flex;
    gap:5px;
    justify-content:space-around;
}
.nav-bar2{
    display:flex;
    gap:5px;
    justify-content:space-around;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  /* padding: 80px 8%; */
  gap: 50px;
  width:100%;
  margin:40px;

}

.hero-text {
  flex: 1;
  min-width: 300px;
}

.hero-text h1 {
  font-size: 2.3rem;
  /* font-weight: 700; */
  margin-bottom: 20px;
  margin-top: 60px;
  color: #0f172a;
  
}

.hero-text p {
  margin-bottom: 30px;
  color: #475569;
  max-width: 500px;
  line-height: 1.5;
}

.email-form label {
  font-size: 0.9rem;
  font-weight: 500;
  display: block;
  margin-bottom: 8px;
}

.form-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.form-row input {
  flex: 1;
  padding: 10px 15px;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  font-size: 0.95rem;
}

.form-row button {
  background-color: #0f172a;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

.form-row button:hover {
  background-color: #1e293b;
}

.terms {
  font-size: 0.85rem;
  color: #64748b;
}

.terms a {
  color: #2563eb;
  text-decoration: none;
}

.terms a:hover {
  text-decoration: underline;
}


.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-image img {
  width: 100%;
  max-width: 450px;
  border-radius: 16px;
  object-fit: cover;
}


.text-container{
    text-align: center;
    margin:20px;
    font-size:large;
}
.image-container{
    display:flex;
    justify-content: space-around;
    margin:40px;
    /* width:100%; */
    /* margin-right: 60px;; */
    font-size: 0.90rem;
    padding:5px;
    align-items: center;
    text-align:center;
   flex-wrap: wrap;
    
}
.image-container>img{
  width:130px;
  gap:2px;
  

}
.skills-container{
    text-align: center;
    margin:30px;
    width:100%;
}
.what-container{
    font-size: 3rem;
    text-align: center;
}
.para-container{
    text-align: center;
    color: darkgrey;
    justify-content: center;
}
.services-section {
  padding: 80px 10%;
  text-align: center;
}

.section-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  color: #0f172a;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 1fr));
  gap: 40px;
  justify-content: center;
}

.service-card {
  padding: 30px 25px;
  border-radius: 12px;
  /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05); */
  transition: all 0.3s ease;
}

.service-card:hover {
  transform: translateY(-8px);
  /* box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08); */
background-color: #d3ddeb;
}

.icon {
  font-size: 2rem;
  background-color: #0f172a;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
}

.service-card h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: #0f172a;
}

.service-card p {
  font-size: 0.95rem;
  color:#7f8185;
  line-height: 1.5;
}


.portfolio-grid {
  display: grid;
   grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 30px;
  width:100%;
}


.portfolio-card {
  border-radius: 12px;
  /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08); */
  overflow: hidden;
  text-align: left;
  transition: all 0.3s ease;
}

.portfolio-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.portfolio-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.portfolio-card h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 15px 20px 10px;
  color: #0f172a;
}

.portfolio-card p {
  font-size: 0.90rem;
  color:#7f8185;
  margin: 0 20px 20px;
  line-height: 1.5;
}


.btn {
  background-color: #0f172a;
  color: #fff;
  border: none;
  padding: 10px 16px;
  margin: 0 20px 20px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  background-color: #1e293b;
}

/* @media (max-width: 768px) {
  .section-title {
    font-size: 1.8rem;
  }

  .portfolio-card img {
    height: 160px;
  }
  } */
.project-container{
  text-align: center;
  width:100%;
  margin:50px;
}
.project-container>p{
  text-align: center;
  color:#7f8185;
  margin-bottom:50px;

}
.resume-container{
  display:flex;
  justify-content: space-between;
  gap:20px;
 margin-top:90px;
 padding:10px;
  
}
.container1{
  text-align: left;
}
.container1>h3{
  font-size: 1.7rem;
}
.container1>p{
color:#7f8185;
font-size: 0.9em;
line-height:1.5 ;
}
.container2{
  text-align: justify;
  /* margin:80px; */
  padding:20px;
  
}
.container2>logo-container>p{
  font-size: 1em;
}
.cilent-container{
  text-align:center;
  width:100%;
  margin-top: 90px;
  margin-bottom: 50px;
}
.client-container>h1{
  font-size: 2rem;
}
.client-container>p{
  font-size:0.9em;
  color:#7f8185;
  line-height:1.5 ;
}
.testimonial-box {
  display: flex;
  align-items: center;
  justify-content:space-between;
  gap: 40px;
  flex-wrap: wrap;
  width:100%;
  margin:60px;
  /* overflow:hidden; */
}

.testimonial-text {
  flex: 1 1 50%;
  text-align: left;
}

.testimonial-text h3 {
  font-size: 1.5rem;
  color: #111;
  margin-bottom: 10px;
}

.testimonial-text .quote {
  color: #777;
  line-height: 1.7;
  font-size: 0.90rem;
  margin-bottom: 20px;
}

.client-info {
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 15px;
}
.client-avatars {
  display: flex;
  gap:4px;
}
.client-avatars>label{
  position:relative;
  cursor:pointer;

}
.client-avatars img {
  width: 35px;
  height: 35px;
  border-radius:20%;
  object-fit: cover;
  border: 2px solid #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.15);
}
.cilent-avatars>input+img{
   border-color: #007bff;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.4);
  transform: scale(1.05);
}

.testimonial-image {
  flex: 1 1 35%;
  display: flex;
  justify-content: center;
}

.testimonial-image img {
  width: 280px;
  height: 280px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}
.client-avatars input ~ .testimonial-image .img1,
.client-avatars input ~ .testimonial-image .img2,
.client-avatars input~ .testimonial-image .img3 {
  opacity: 1;
}

.image-container2{
    display:flex;
    justify-content: center;
    margin:50px ;
    margin-bottom:50px;
   opacity: 0.6;
  filter: grayscale(100%);
  flex-wrap: wrap;
  align-items: center;
  /* height: 40px; */


}
.clients{
  text-align: center;
  margin-top:50px;
  margin-bottom:50px;
}
.clients>h2{
  font-size: 2rem;
}
.contact{
  text-align: center;
  width:100%;
  margin-top:70px;
  margin-bottom:50px;


}
.contact>h1{
font-size: 2rem;
margin-bottom:30px;
}
.contact>p{
    color: #777;
  line-height: 1.5;
  font-size: 0.90rem;
  margin-bottom: 40px;
  margin-top:40px;
}
.contact-container {
      max-width: 1200px;
      margin: 80px auto;
      padding: 5px;
      display: flex;
      justify-content: space-between;
      gap: 5px;
      flex-wrap: wrap;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      line-height: 1.5;
    }

    .contact-info {
      background-color: #1a1a1a;
      color: white;
      padding: 20px;
      border-radius: 10px;
      flex: 1;
      min-width: 300px;
      font-size: 0.60rem;
    }

    .contact-info h2 {
      margin-bottom: 10px;
      font-size: 1rem;
    }

    .contact-info p {
      color: #ccc;
      margin-bottom: 20px;
    }

    .contact-info ul {
      list-style: none;
      padding: 0;
      align-items:left;
      justify-items: left;
      margin-bottom: 20px;
    }

    .contact-info li {
      display: flex;
      align-items: left;
      /* margin-bottom: 15px; */
      font-size: 0.80rem;
    }

    .contact-info li div.icon {
      font-size: 0.60rem;
      text-align:left;
      display:flex;
    justify-content: left;
    }

    .contact-form {
      background-color: #fff;
      padding:10px;
      /* border-radius: 10px; */
      flex: 2;
      min-width: 300px;
      /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
    font-size: 0.60rem;
    justify-content: start;
    }

    .form-row {
      display: flex;
      gap: 2px;
      flex-wrap: wrap;
      justify-content: left;
    }

    .form-group {
      flex: 1;
      min-width: 150px;
    }

    label {
      display: block;
      margin-bottom: 6px;
      color: #333;
    }

    input[type="text"],
    input[type="email"]{
       border: none;
      border-bottom: 2px solid #333;
      width: 200px;
      margin:5px;
      padding:5px 0;
      background: transparent;
      outline: none;
      font-size: 0.80rem;
    }

    textarea {
      resize: vertical;
    }

    .radio-group {
      display: flex;
      margin:10px;
      
    }

    .radio-group label {
      display: flex;
      gap:2px;
      align-items:left;
    }

    .submit-btn {
      background-color: #000;
      color: white;
      padding: 5px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 0.60rem;
      margin:20px 50px;
    }

    .submit-btn:hover {
      background-color: #333;
    }

@media (max-width: 480px) {
  * {
    margin-left: 10px;
    margin-right: 10px;
  }

  .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
  }

  .hero {
    flex-direction: column-reverse;
    text-align: center;
    margin: 20px;
    gap:10px;
  }

  .hero-text h1 {
    font-size: 1.8rem;
    margin-top: 40px;
  }

  .hero-text p {
    font-size: 0.9rem;
  }

  .form-row {
    flex-direction: column;
    width: 100%;
  }

  .form-row button {
    width: 100%;
  }

  .image-container {
    flex-direction: column;
    gap: 15px;
    margin: 20px 0;
  }

  .services-grid {
    grid-template-columns: 1fr;
  }

  .portfolio-grid {
    grid-template-columns: 1fr;
  }

  .resume-container {
    flex-direction: column;
    text-align: center;
  }

  .testimonial-box {
    flex-direction: column;
    text-align: center;
  }

  .testimonial-image img {
    width: 200px;
    height: 200px;
    justify-content:center
  }

  .contact-container {
    flex-direction: column;
    padding: 30px;

  }

  .contact-info,
  .contact-form {
    min-width: 100%;
    font-size: 0.75rem;
  }

  input[type="text"],
  input[type="email"] {
    width: 100%;
  }

  .radio-group {
    flex-direction: column;
  }

  .submit-btn {
    width: 100%;
    margin: 20px auto;
  }
}
