.image-container{
   display:flex;
   gap: 10px;
   justify-content: center;
   width: 100%;
}
.image{
    width: 100%;
    height: 100px;
    text-align: center;
}
    .image1{
    width: 100%;
    height:150px;
    }
    .image2{
    width: 100%;
    height:150px;
    }
    .image3{
        width: 100%;
        height:150px;
    }
    .image4{
        width: 100%;
        height:150px;
    }
    .image5{
        width: 100%;
        height:150px;
    }
    .image6{
        width: 100%;
        height:150px;
    }