.cotainer{
    /* background-color:aqua; */
    padding:10px;
    border:2px solid;
    display:flex;
    gap:10px;
    height:100px;
    /*justify-content:start; */
    align-content:end;
    justify-content:center;
    /* justify-content:space-around;
    justify-content:space-between;
    justify-content:space-evenly; */
    align-items:center;
    align-items:start;
    flex-wrap:wrap;

}
.item{
    padding:10px;
    width:300px;
    text-align:center;
    flex-grow:1;

}
.item-1{
background-color:lightblue;
}
.item-2{
background-color:red;
}
.item-3{
background-color:green;
}
.item-4{
background-color:blue;
}
.item-5{
background-color:yellow;

}

/* .bi:hover{
    color:aliceblue
    p


} */

.containerr{
    backgroud-color:red;


}